body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 150px;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (max-width: 820px) {
  body {
    margin: 0 75px;
  }
}

@media screen and (max-width: 500px) {
  body {
    margin: 0 36px;
  }
}

/* Header -------------------------*/
header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

h1 {
  margin: 0;
}

header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 24px;
}

header li {
  text-transform: uppercase;
  cursor: pointer;
  color: purple;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
/* Main ----------------------------*/
main {
  position: relative;
  display: grid;
  grid-template-columns: 35% 65%;
  column-gap: 24px;
  max-width: 100%;
  max-height: 80%;
}

@media screen and (max-width: 650px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

/* Content -------------------------*/
#content {
  align-self: center;
}

#content h2 {
  font-size: 36px;
}

#content p {
  color: gray;
}

#content button {
  display: block;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  color: white;
  background-color: darkcyan;
  border: none;
  box-shadow: 2px 2px 4px 1px gray;
}

#content button:hover {
  cursor: pointer;
  background-color: lightseagreen;
}

#content button:disabled {
  background-color: gray;
  cursor: progress;
}

#content img {
  max-width: 100%;
}

@media screen and (max-width: 950px) {
  #content h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 650px) {
  #content {
    margin: 0 0 32px;
  }

  #content img {
    display: none;
  }
}

/* Image ---------------------------*/
#photos {
  display: flex;
  justify-content: center;
  align-items: center;
}

#api-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 2px gray;
  display: none;
}

@media screen and (max-width: 650px) {
  #api-image {
    max-height: 350px;
  }
}

#spinner {
  height: 32px;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
